
body{
    font-family:  Calibri,sans-serif ;
    text-align: center;
    background-color: paleturquoise;
}
h1{
    font-size: 100px;
    font-weight: bold;
    color: plum;
    
}
#goku{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 25%;
    
}

#recipe_link{
    
    color: purple;
    font-size: 25px;
    display: flex;
    list-style: none;
    justify-content: center;
}
li{
    
    border-color: black;
    padding: 50px;
    color: blueviolet;
    font-size: 35px;
    text-align: left;
}
