
body{
    font-family:  Calibri,sans-serif ;
    text-align: center;
    background-color: whitesmoke;
}
h1{
    font-size: 100px;
    font-weight: bold;
    color: plum;
    
    margin: 0px;
    
}
#goku, #mushroom, #spinach, #sandwich{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 25%;
    border-radius: 15px;
    border-style: solid;
    border-color: skyblue;
    border-width: 5px;
    
}

#recipe_link{
    
    font-size: 25px;
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: plum;

}
.wrapper li{
    
    display: inline;
    padding: 25px;
    font-size: 20px;
    text-align: left;
    border-radius: 15px;
    border-style: solid;
    border-color: skyblue;
    background-color: white;
    margin: 15px;
    border-width: 3px;
    
}
.wrapper li:hover {
    background-color: skyblue;
    border-color: paleturquoise;
    
    
}


